{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h4 class="mt-5">Modifier un produit</h4>
            <hr>
            {{ include('product/form/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
{% endblock %}
