{% extends 'base.html.twig' %}
{% set productPage = '' %}
{% block title %}Liste des produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h4 class="text-center">Liste des produits</h4>
            <twig:AddButton routeName="app_product_new" label="Ajouter un nouveau produit" />
            <hr class="mt-2">
            <twig:SearchProduct />
        </div>
    </div>
{% endblock %}
