{{ form_start(form) }}
<div class="form-group">
    {{ form_row(form.name) }}
</div>
<div class="row justify-content mx-auto">
    <button type="submit" class="btn btn-primary btn-block">{{ button_label }}</button>
</div>
{{ form_end(form) }}
